* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    padding: 20px;
    background: rgb(7, 144, 255);
    color: white;

}

h1 {
    font-size: 56px;
}

.wrapper {
    margin: 20px;
}

.wrapper input {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    width: 300px;
}

#todoList {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.todo-item {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.todo-item > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 20px 10px;
    box-shadow: 0 0 2px black;
    border-left: 3px solid black;
}

.todo-item div > input {
    margin: 0;
    padding: 0
}

.todo-item input {
    width: auto;
}

.todo-item div input:nth-child(3) {
    background: black;
    color: white;
    border: 0;
    padding: 4px 8px;
}